<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.contralabs.inmap"
    android:versionCode="9"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <permission
        android:name="com.contralabs.inmap.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.contralabs.inmap.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.contralabs.inmap.InMapApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/img_marca_inmap"
        android:theme="@style/AppTheme" 
        android:debuggable="true">
        <activity
            android:name="com.contralabs.inmap.activities.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />

                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.contralabs.inmap.activities.StoreDetailsActivity"
            android:label="@string/title_activity_store_details" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contralabs.inmap.activities.MainActivity" />
        </activity>
        <activity
            android:name="com.contralabs.inmap.activities.SettingsActivity"
            android:label="@string/settings" />

        <service android:name="com.contralabs.inmap.server.UpdateDataService"  android:exported="false"/>
        <service android:name="com.contralabs.inmap.location.ProximityService" android:exported="false"/>

        <!--
        <receiver
            android:name="com.contralabs.inmap.location.ProximityReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.contralabs.inmap.location.PROXIMITY_EVENT" />
            </intent-filter>
        </receiver>
        -->

        <provider
            android:name="com.contralabs.inmap.model.StoreContentProvider"
            android:authorities="com.contralabs.inmap.model.StoreContentProvider" >
        </provider>

        <receiver
            android:name="com.contralabs.inmap.OnBootReceiver"
            android:enabled="true"
            android:exported="false"
            android:label="OnBootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/maps_api_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="url_info"
            android:value="https://dl.dropbox.com/s/awpi1m99j1m20c1/SalvadorShopInfo.json?dl=1" />
        <meta-data
            android:name="url_infra"
            android:value="https://dl.dropbox.com/s/qk01f4q5lwazrl1/infrastructures.xml?dl=1" />
        <meta-data
            android:name="url_stores"
            android:value="https://dl.dropbox.com/s/qcswd293z8f4386/stores.xml?dl=1" />

        <!-- HelpShift start -->
        <activity
            android:name="com.helpshift.HelpshiftActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSAddIssue"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSAddProfile"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSMessages"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSQuestionsList"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSQuestion"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSSection"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSInbox"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <activity
            android:name="com.helpshift.HSFaqs"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:theme="@style/HSThemeLight" />
        <!-- Helpshift end -->
        
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/fb_app_id"/>
        <activity android:name="com.facebook.LoginActivity"/>
        
        <service android:name="com.contralabs.inmap.recommendation.SimilarityBuilderService"  android:exported="false"/>
    	
        <activity
            android:name="com.contralabs.inmap.activities.RecommendationActivity"
            android:label="@string/recomendacoes" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.contralabs.inmap.activities.MainActivity" />
        </activity>
    </application>

</manifest>